<header>
  <p>Página inicial de {{ title }}</p>
  <!-- Se define title en: app.component.ts -->
  <ul>
    <li><a routerLink="">Inicio</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/registro">Registro</a></li>
    <!-- se define routerLink para la navegación en la aplicación Angular-->
  </ul>
  
</header> 
<router-outlet>
  
</router-outlet>
<!-- El componente router-outlet carga dinamicamente el contenido por las paginas creadas -->
<footer>
  <p>{{ footer }}</p>
</footer>