<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="login-panel p-4 rounded-3" style="background: whitesmoke;">
        <div class="text-center mb-4">
          <h1>Iniciar Sesión</h1>
        </div>
        <!-- <app-alerta [alerta]="alerta"></app-alerta> -->
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label for="correo" class="form-label">Correo Electronico:</label>
            <input type="email" formControlName="correo" class="form-control" id="correo" placeholder="Ingrese el correo electrónico">
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Digite la contraseña">
          </div>

          <div class="form-check mb-3">
            <input name="VerPassword" id="VerPassword" type="checkbox" class="form-check-input">
            <label class="form-check-label" style="font-size:13pt; background-color:#F1F1F1; color:black;" for="VerPassword">Ver contraseña</label>
          </div>

          <button type="submit" class="btn btn-primary w-100">Ingresar</button>

        </form>
        <div class="text-center mt-4">

          <h6>¡Olvido su contraseña! <a  routerLink="/recuperar-cuenta" class="link-primary"> Recuperar</a></h6>
          <h6>¡No tienes cuenta! <a href="/registro" class="link-primary"> Registrate</a></h6>
          
        </div>
      </div>
    </div>
  </div>
</div>